<div class="post_box">
  <div class="post_header">
    <%= @post.user.name %>
    <br>
    <span class="timestamp pull-left"><%= distance_of_time_in_words(DateTime.now, @post.created_at) %> ago</span>
  </div>

  <div class="post_body">
    <%= @post.description %>
  </div>

  <div class="content">
    <ul class="list-inline btn-group btn-group-sm">
      <% if @post.user == logged_in? %>
        <li><%= link_to 'Edit Post', edit_post_path(@post.id), class: 'btn btn-default btn-block' %></li>
        <li><%= link_to 'Delete Post', post_path(@post.id), method: :delete, class: 'btn btn-default btn-block' %></li>
      <% end %>
    </ul>
  </div>
</div>
